.searchPage__header{
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    align-items: flex-start;
    padding: 30px;
    border: 30px;
    border-bottom: 1px solid lightgray;
}
@media only screen and (max-width: 768px){
   .searchPage{
       display: grid;
       margin-left:0px !important  ;
      width: 300px !important; 
      padding-left:0px !important ;
      padding-top: 0px !important;
     margin-top:0 !important ;
     background-color: black;
}
    .searchPage__header{
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid lightgray;
    width: 350px;
    
   }
   .searchPage__logo{
      margin-top: 0px  !important; 
      justify-content: center;
      text-align: center;
      margin-left: 0px !important;
     
   }
   .search__headerBody{
       margin-left: 0 !important;
       display: inline;
   }
  .searchPage__headerBody > .search >.search__input{
    margin-top: 10px !important;
    position: absolute !important;
    left: 0;
    margin-left:0px !important ;
    padding-left: 0px !important;
    margin-right: 20px !important;

   
}
.searchPage__options{
   
    display: flex;
    flex-direction: column;
   position: absolute;
   left: 0;
   top:125px ;
   bottom:1px ;
   padding: 0 !important;
   margin-bottom: 20px !important;
}
.searchPage__optionsLeft{
   width: 400px;
   margin-left: 150px;
}
.searchPage__optionsRight{
    margin-top: 2px !important;
    width: 200px;
    margin-left: 200px !important;
}
.searchPage__option{
   
    margin-top: 2px !important ;
    width:60px ;
}
.searchPage__results{
    
    padding-left: 0 !important;
    width:450px ;
    position: absolute !important;
    left: 0;
    margin-left: 10px!important;
    margin-top:190px !important ;
} 
.searchPage__resultCount{

width: 400px;
} 
.searchPage__result{
    width: 400px;
    margin-top:0  !important;
    margin-bottom:10px !important ;
    
} 
.searchPage__resultSnippet{
width: 400px;
}
.searchPage__resultTitle{
  width: 400px;
}
}
.searchPage__logo{
   object-fit: contain; 
   height: 50px;
   margin-right: 50px;
   
}
.searchPage__headerBody > .search >.search__input{
    margin-top: 0;
    width: unset;
    margin: unset;
    max-width: unset;
}
.searchPage__options{
    display: flex;
    align-items: center;
    color: grey;
}
.searchPage__optionsRight,
.searchPage__optionsLeft{
    display: flex;
}
.searchPage__options a,
.searchPage__optionsRight a{
    text-decoration: none;
    color: gray;
}
.searchPage__optionsRight{
    margin-left: 80px;
}
.searchPage__option{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.searchPage__option a{
    margin-left: 5px;
}
.searchPage__result{
    margin: 40px 0;
}
.searchPage__resultCount{
    color: #70757a;
    font-size: 14px;
}
.searchPage__results{
    max-width: 650px;
    margin-top: 20px;
    margin-left: 240px;
    margin-bottom: 100px;
}
.searchPage__resultTitle{
    text-decoration:none;
}
.searchPage__resultTitle:hover{
    text-decoration: underline;
}
.searchPage__resultTitle> h2{
    font-weight:500 ;
}
.searchPage__resultSnippet{
    margin-top: 10px;
} 
.searchPage__resultImage{
    object-fit: contain;
    height: 20px;
    width: 20px;
    margin-right:10px ;
}